
<div layout="column" flex="" data-ng-controller="SideNavController as $nav">
  <md-sidenav data-md-is-locked-open="true" flex="100" class="md-whiteframe-4dp">
    <md-content md-scroll-y="md-scroll-y" flex="" layout="column">
      <md-list flex="">
        <md-subheader>
           
          WonderTools is <span data-ng-if="$nav.isConnected == true">ONLINE</span><span data-ng-if="$nav.isConnected != true">OFFLINE</span>
        </md-subheader>
        <md-list-item ng-click="$nav.connectBot()" ng-disabled="$nav.botClient.canConnect != true"> 
          <md-icon md-font-icon="mdi-twitch" data-ng-class="{ online: $nav.isConnected == true }" class="mdi"></md-icon>
          <p data-ng-if="$nav.isConnected != true">Connect</p>
          <p data-ng-if="$nav.isConnected == true">Disconnect</p>
        </md-list-item>
        <md-divider>
          <md-list-item data-ui-sref="dashboard" data-ui-sref-active="active">
            <p>Dashboard</p>
            <md-icon class="md-secondary material-icons">chevron_right</md-icon>
          </md-list-item>
        </md-divider>
      </md-list>
    </md-content>
  </md-sidenav>
</div>